{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block Title %} Главная {% endblock Title %} - Журнал учета</title>

    <!-- Bootstrap -->
    <link href="{% static "journal/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "journal/css/style.css" %}" rel="stylesheet">
</head>
<body>
    <div class="container-fliud">
        <div class="row">
            <nav role="navigation" class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header header">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h1><a href="{% url 'index' %}">Дневник АО ЦПФ</a></h1>
                                    <p>Памяти нет, но есть дневник</p>
                                </div>
                            </div>
                        </div>
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbarCollapse" class="collapse navbar-collapse navbar-right">
                        <ul class="nav nav-pills">
                            <li><a href="{% url 'index' %}">Главная</a></li>
                            <li><a href="{% url 'add' %}">Добавить</a></li>
                            {% for rubric in rubrics %}
                                <li><a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a></li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-lg-push-3">
                    <form role="search" class="visible-xs">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" class="form-control input-lg" placeholder="Поиск">
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <h2>Новые записи</h2>
                    <hr>
                    {% block content %}

                    {% endblock content %}
                    
                    <div class="margin-8 clear"></div>
                </div>
                <div class="col-lg-3 col-lg-pull-9">
                    <div class="panel panel-info hidden-xs">
                        <div class="panel-heading"><div class="side-header">Поиск</div></div>
                        <div class="panel-body">
                            <form role="search">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="search" class="form-control input-lg" placeholder="Поиск">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><div class="sidebar-header">Новости</div></div>
                        <div class="panel-body">
                            <p>11.03.2020</p>
                            <p>Начал верстать сайт</p>
                            <p>12.03.2020</p>
                            <p>Что-то получилось запрограть</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <footer>
        <div class="container">
        <p class="text-center"><a href="index.html">Главная</a></p>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "journal/js/bootstrap.min.js" %}"></script>
</body>
</html>


<!-- <div class="row">
                        <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <a href="index.html"><h3>Интерстеллар</h3></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis commodi, velit officia consectetur numquam ipsam facilis officiis optio distinctio. Facilis.</p>
                        </div>
                        <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <a href="#"><h3>Матрица</h3></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis commodi, velit officia consectetur numquam ipsam facilis officiis optio distinctio. Facilis.</p>
                        </div>
                        <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <a href="#">
                                <h3>Облачный атлас</h3>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis commodi, velit officia consectetur numquam ipsam facilis officiis optio distinctio. Facilis.</p>
                        </div>
                        <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <a href="#">
                                <h3>Безумный макс</h3>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis commodi, velit officia consectetur numquam ipsam facilis officiis optio distinctio. Facilis.</p>
                        </div>
                    </div> -->