{% extends "layout/basic.html" %}

{% block title %}
    {{ current_rubric.name }}
{% endblock title %}

{% block content %}
    <h2>Комплектующее: {{ current_rubric.name }}</h2>
    {% for bb in bbs %}
        <div>
            <h2>{{ bb.title }}</h2>
            <p>{{ bb.content }}</p>
            <p>{{ bb.published|date:"d.m.Y H:i" }}</p>
        </div>
    {% endfor %}
{% endblock content %}


<!-- <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ current_rubric.name }} - Дневник ЦПФ</title>
</head>
<body>
    <h1>Задания</h1>
    <h2>Комлектующее: {{ current_rubric.name }}</h2>
    <div>
        <a href="/">Главная</a>
        <a href="{% url "add" %}">Добавить</a>
        {% for rubric in rubrics %}
            <a href="/{{ rubric.pk }}">{{ rubric.name }}</a>
        {% endfor %}
    </div>
    {% for bb in bbs %}
        <div>
            <h2>{{ bb.title }}</h2>
            <p>{{ bb.content }}</p>
            <p>{{ bb.published|date:"d.m.Y H:i" }}</p>
        </div>
    {% endfor %}

</body>
</html> -->